{% extends "base.html" %}
{% block title%}
Профиль автора
{% endblock %}

{% block body %}
<div class="container overflow-hidden p-3 border bg-light">
    <p class="text-center display-4">
        {{profile.name}}
    </p>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-5">
                <img height="500px" width="500px" class="img-thumbnail "
                     src="{{ url_for('static', filename='images/image.jpg') }}"/>
            </div>
            <div class="col-lg-7">
                <h5 class="lead text-break"><b>Обо мне:</b><br>
                    {{profile.about}}
                </h5>
                <p class="lead text-break"><b>Конкурсы:</b><br>
                    {{profile.rewards}}
                </p>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/profile_update" class="btn btn-success btn-sm">Редактировать</a>
        </div>
    </div>

</div>
{% endblock %}
